.remark-slide-content {
 background-image: url("bg.jpg");
 background-size: cover; 
}


.left-column30 {
      width: 30%;
      float: left;
}

.right-column70 {
      width: 68%;
      float: right;
      }

img[src*='#center'] { 
    display: block;
    margin: auto;
}


h1,h2,h3,h4,h5,h6,p,strong{
    /*display: inline-block;*/
    font-family:'calibri';
}

h1,h2{
    font-weight: 600;
    margin-top: 10px;
}


h3,h4{
    font-weight: 600;
}



h1 {
    font-size: 18px;
    color: #CCD96C;
    margin-top: 10px;
    margin-left: 80px;
}


h2 {
    font-size: 15px;
    color: #BFB299;
    margin-top: 24px;
}
 
h3 {
    font-size: 16px;
    color: #1a1a1a; 
} 

h4 {
    font-size: 14px;
    color: #1a1a1a; 
} 



p {
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    background-color: white; 
    color: #1a1a1a; 
}

strong {
    font-weight: 700;
    color: #1a1a1a; 
    font-size: 14px;

    background-color: white; 
}

.fig{
    font-style: italic;
    color: #990000; 
    font-size: 16px;
    margin-top: 16px;
}








